.git
.gitignore
.nuxt
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
compose*.yml
compose*.yaml
README.md
document.txt
build.sh
build-m1.sh
